.row
  .col-8
    .form-group.mt-5
      label.mx-2(for='postTitle') Post Title
      input#postTitle.form-control.m-2(type='text', aria-describedby='', placeholder='Title')
      label.mx-2(for='postContent') Post Content
      textarea.form-control.m-2(id="postContent")
      button.btn.btn-primary.mt-3.btn-block.createPostBtn(type="button") Create Post